div.card {
    border: 2px solid #eeeeee;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    max-width: 200px;
    box-shadow: 0 2px 2px -2px #000000;
}

.card tr {
    text-align: center;
    font-weight: normal;
}

.card table {
    margin: -2px;
    max-width: 190px;
}

.card .heading {
    display: inline;
}

.card .heading .title {
    padding: 2px;
    font-weight: normal;
    color: black;
    text-align: center;
}

.card .heading .icon {
    text-align: center;
    font-weight: normal;
    color: black;
}

.card .price {
    justify-content: center;
    display: flex;
    padding-top: 10px;
}

.card .price .value {
    font-size: 30px;
}

.card .price .suffix {
    color: gray;
    padding-top: 15px;
}

.card .description {
    color: gray;
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.card .points p {
    font-size: 10px;
    margin: 5px;
}

.card .button {
    border: 1px solid #3376cb;
    border-radius: 4px;
    color: #3376cb;
    background-color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 5px 45px;
    width: 90px;
    margin: 8px;
    cursor: pointer;
}

.card .button.focus {
    color: white;
    background-color: #3376cb;
    box-shadow: 0 2px 3px -2px #000000;
}